################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Spark.Core.Client/bin/Debug/net5.0
/Spark.Core.Client/obj
/Spark.Core.Server/bin/Debug/net5.0
/Spark.Core.Server/obj
/.vs/Spark.Core/v16
/.vs/Spark.Core/config
/Spark.Core.Blazor.Demo/bin/Debug/net5.0
/Spark.Core.Blazor.Demo/obj
/.vs/Spark.Core/DesignTimeBuild
